body {
	background: #FDF3E7;
}

#page-wrap {
	width: 100%;
	position: relative;
}

#header {
	height: 90px;
	width: 100%;
}

#secondary-two {
	float: right;
	overflow: hidden;
	display: inline-block;
}


