body {
	background: #FDF3E7;
}

#page-wrap {
	width: 100%;
}

#header{
	height: 90px;	
}

#toolbar {
	height: 90px;
	width: 83%;
}

#main-content {
	margin-right: 5px;
}

#secondary-two {
	height: 250px;
	display: none;
}