#page-wrap {
	width: 100%;
}

#header {
	height: 90px;
}

#main-content {
	margin-right: 5px;
}

#secondary-two {
	float: left;
	margin-right: 5px;
}

.login-popup {
	display: none;
	padding: 10px;
	position: fixed;
	width: 250px;
	top: 50%;
	left: 50%;
	z-index: 99999;
}

#login-windowid {
	display:none;
}

#login-windowid2 {
	float: left;
	overflow: auto;
	display: block;
	width: 100%;
}

.signin{
	border-left: none;
	border-bottom: thick solid black;
}