body {
	font: 14px Georgia, serif;
	background: #FFF0AA;
}

#page-wrap {
	color: white;
}

#page-wrap>div {
	margin-bottom: 5px;
	color: black;
}

#header {
	background: #FFF0AA;
}

#main-content {
	float: left;
	background: #eee;
	overflow: auto;
	margin-right: 5px;
	border: 1px solid #999;
}

.no-js #main-content {
	display: none;
}

#secondary-two {
	background: #FFF0AA;
    padding:5px;
}

.js #login-windowid2 {
	display: none;
}

.no-js #login-windowid2 {
	display: none;
}

#toolbar {
	height: 90px;
	width: 88%;
	float: left;
}

.js #nojs {
	display: none;
}

.js #nojs2 {
	display: none;
}

#nojs {
	color: #B0E57C;
}

.js ul#navigation {
	width: 100%;
	margin: 0px;
	left: 0px;
	height: 85px;
	display: block;
	list-style: none outside none;
	white-space: nowrap;
	overflow: auto;
}

.no-js ul#navigation {
	display: none;
}

.no-js ul#navigation2 {
	display: none;
}

.no-js #secondary-two {
	display: none;
}

.no-js table {
	margin-top: 15px;
}

.no-js table,td,th {
	border: 1px solid #B0E57C;
	border-collapse: collapse;
}

.no-js th {
	background-color: #B0E57C;
	color: white;
}

.js ul#navigation li {
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 10px;
	display: inline;
	overflow: auto;
	overflow-y: hidden;
}

.js ul#navigation2 li {
	margin-left: 5px;
	margin-top: 10px;
	display: inline;
	overflow: auto;
	overflow-y: hidden;
	float: right;
}

.js ul#navigation li:hover {
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
}

.js .ImgButton {
	width: 50px;
	height: 65px;
}

.no-js .ImgButton {
	display: none;
}

.no-js .nojsButton {
	background-color:#B0E57C;
	color:white;
}

.login-window {
	-moz-box-shadow: inset 0px 1px 0px 0px #B0E57C;
	-webkit-box-shadow: inset 0px 1px 0px 0px #B0E57C;
	box-shadow: inset 0px 1px 0px 0px #B0E57C;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #B0E57C
		), color-stop(1, #92CD00));
	background: -moz-linear-gradient(center top, #B0E57C 5%, #92CD00 100%);
	background-color: #B0E57C;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	text-indent: 0px;
	border: 1px solid #2C6700;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	height: 55px;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 75px;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #2C6700;
}

.login-window:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #92CD00
		), color-stop(1, #B0E57C));
	background: -moz-linear-gradient(center top, #92CD00 5%, #B0E57C 100%);
	background-color: #92CD00;
}

.login-window:active {
	position: relative;
	top: 1px;
}

.loggedin_button {
	-moz-box-shadow: inset 0px 1px 0px 0px #B0E57C;
	-webkit-box-shadow: inset 0px 1px 0px 0px #B0E57C;
	box-shadow: inset 0px 1px 0px 0px #B0E57C;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #B0E57C
		), color-stop(1, #92CD00));
	background: -moz-linear-gradient(center top, #B0E57C 5%, #92CD00 100%);
	background-color: #B0E57C;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	text-indent: 0px;
	border: 1px solid #2C6700;
	display: none;
	color: #ffffff;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	height: 55px;
	width: 100px;
}

.js #legend {
	margin-right: 5px;
	background-color: rgb(255, 255, 255);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	width: 94px;
	height: 90px;
}

.legend-label {
	display: block;
	width: 80px;
	padding-left: 12px;
	padding-right: 12px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 11px;
	text-align: center;
}

.marker {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 37px;
	margin-right: 37px;
}

.marker-info-win {
	max-width: 300px;
	max-height: 300px;
	margin-right: -20px;
	overflow: auto;
}

.marker-info-win p {
	margin: 10px;
}

.marker-inner-win {
	padding: 5px;
}

.marker-edit label {
	display: block;
	margin-bottom: 5px;
}

.marker-edit label span {
	width: 100px;
	float: left;
}

.marker-edit label input {
	height: 25px;
}

.marker-edit label textarea {
	height: 60px;
	max-width: 153px;
}

.marker-edit label ul li {
	float: left;
	width: 25%;
}

.marker-desc {
	max-height: 300px;
	margin-right: -20px;
	overflow: auto;
}

.marker-desc-win p {
	margin: 10px;
}

.marker-desc-win {
	padding: 5px;
}

.marker-desc label {
	display: block;
	margin-bottom: 5px;
}

.marker-desc label span {
	width: 100px;
	float: left;
}

/*LOGIN PROMPT CSS*/
#mask {
	display: none;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	z-index: 999;
}

.login-popup {
	display: none;
	background: #FFF0AA;
	padding: 10px;
	float: left;
	position: fixed;
	width: 500px;
	top: 50%;
	left: 50%;
	z-index: 99999;
}

.fb_login_button {
	display: block;
	width: 202px;
	padding: 6px 6px 4px;
}

.google_login_button {
	display: block;
	width: 202px;
	padding: 6px 6px 4px;
}

img.btn_close {
	float: right;
	margin: -30px -30px 0 0;
}

fieldset {
	border: none;
}

.signin {
	float: right;
	border-left: thick solid black;
}

form.signin .textbox label {
	display: block;
	padding-bottom: 7px;
}

form.signin .textbox span {
	display: block;
}

form.signin p,form.signin span {
	color: #000;
	line-height: 18px;
}

form.signin .textbox input {
	background: #FFF;
	border-bottom: 1px solid #333;
	border-left: 1px solid #000;
	border-right: 1px solid #333;
	border-top: 1px solid #000;
	color: #000;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 6px 6px 4px;
	width: 200px;
}

.button {
	-moz-box-shadow: inset 0px 1px 0px 0px #B0E57C;
	-webkit-box-shadow: inset 0px 1px 0px 0px #B0E57C;
	box-shadow: inset 0px 1px 0px 0px #B0E57C;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #B0E57C
		), color-stop(1, #92CD00));
	background: -moz-linear-gradient(center top, #B0E57C 5%, #92CD00 100%);
	background-color: #B0E57C;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	text-indent: 0px;
	border: 1px solid #2C6700;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	cursor: pointer;
	display: inline-block;
	padding: 6px 6px 4px;
	margin-top: 10px;
	width: 214px;
	margin-right: 2px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #2C6700;
}

.button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #92CD00
		), color-stop(1, #B0E57C));
	background: -moz-linear-gradient(center top, #92CD00 5%, #B0E57C 100%);
	background-color: #92CD00;
}

.button:active {
	position: relative;
	top: 1px;
}

.circle {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: #FFF0AA;
	display: inline-block;
	cursor: pointer;
	margin-right: 2px;
}

#rating_bar{
	margin: 2px;
}

#rating_bar ul {
	list-style-type: none;
	margin: 0 auto;
}

#commentBox {
	resize: none;
	box-sizing: border-box;
	display: block;
	width: 100%;
	margin: 0;
	padding: 4px;
	border: 1px solid #333;
	overflow-y: auto;
	overflow-x: hidden;
}

.js .comment-button {
	-moz-box-shadow: inset 0px 1px 0px 0px #B4D8E7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #B4D8E7;
	box-shadow: inset 0px 1px 0px 0px #B4D8E7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #B4D8E7
		), color-stop(1, #B4D8E7));
	background: -moz-linear-gradient(center top, #B4D8E7 5%, #B4D8E7 100%);
	background-color: #B4D8E7;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	text-indent: 0px;
	color: #ffffff;
	display: block;
	width: 100%;
	margin: 0;
	margin-top: 1px;
	overflow-y: auto;
	overflow-x: hidden;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	height: 55px;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #2C6700;
}

.comment-button:active {
	position: relative;
	top: 1px;
}

.comment-text {
	position: relative;
	margin: 0;
	height: 100%;
	padding: 4px;
	border: 5px solid #B0E57C;
	margin-bottom: 5px;
	color: #333;
	background: #fff;
	word-wrap: break-word;
}

.comment-text:before {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 40px;
	border-width: 20px 20px 0;
	border-style: solid;
	border-color: #B0E57C transparent;
	display: block;
	width: 0;
}

.comment-text:after {
	content: "";
	position: absolute;
	bottom: -13px;
	left: 47px;
	border-width: 13px 13px 0;
	border-style: solid;
	border-color: #fff transparent;
	display: block;
	width: 0;
}

.comment-info {
	margin: 5px;
}

#comment-list{
	list-style:none;
}

#comments{
	overflow:auto;
	height: 79%
}